<!DOCTYPE html> {% load staticfiles %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title> {% block title %}{% endblock %} </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <style type="text/css">
  .input-group .form-control, .input-group-addon, .input-group-btn {
    display: table !important;
  }
  </style>
  {% block extrastyle %}{% endblock %}
</head>

<body style="text-align: center">
  {% block navbar %}
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span clas="icon-bar"></span>
        <span clas="icon-bar"></span>
        <span clas="icon-bar"></span>
      </button>
      {% if authenticated %}
      <a class="navbar-brand" href="{% url 'dashboard'%}">RideShare</a>
      {% else %}
      <a class="navbar-brand" href="{% url 'index'%}">RideShare</a>
      {% endif %}
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="true">
      <ul class="nav navbar-nav navbar-right" style="padding-right: 15px;">
        {% block navbar_content %}
        <!-- Default content -->

        <!--search bar-->
        <li>
          <form role="form" action="{% url 'search_results' %}" method="POST" style="padding-top: 7px;">
            {% csrf_token %}
            <div id="search_query" class="input-group">
              {{ search_form.query }}
              <span class="input-group-btn">
                <button id="search_btn" type="submit" class="btn btn-primary">Search</button>
              </span>
            </div>
          </form>
        </li>
        <li>
          <a href="https://github.com/wentingzhu/isa-marketplace">About</a>
        </li>
        {% if authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rides</a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'rides' %}">My Rides</a></li>
            <li><a href="{% url 'create_ride' %}">Create Ride</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{full_name}}</a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="https://www.google.com/?q={{first_name}}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          </ul>
        </li>
        {% else %}

        <!--login start-->
        <li class="dropdown {% if invalid_login %} open {% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" {% if invalid_login %}aria-expanded="true" {% endif %}>Log In</a>
          <div id="login" class="dropdown-menu" style="width: 400px; padding: 15px;">
            <form role="form" method="POST" action="{% url 'login' %}" id="login-form">
              {% csrf_token %}
              <!-- {{ login_form }} -->
              {{ login_form.non_field_errors }}
              <div id="login_email" class="form-group">
                {{ login_form.email.errors }}
                <label for="{{ login_form.email.id_for_label }}">Email:</label>
                {{ login_form.email }}
              </div>
              <div id="login_password" class="form-group">
                {{ login_form.password.errors }}
                <label for="{{ login_form.password.id_for_label }}">Password:</label>
                {{ login_form.password }}
              </div>
              {% if invalid_login %}
                <p class="errorMessage"> Login Failed. Try again. </p>
              {% endif %}
              <div style="text-align: center;">
                <button type="submit" id="login-btn" class="btn btn-primary">Login</button>
              </div>
            </form>
          </div>
        </li>

        <!--signup start-->
        <li class="dropdown {% if invalid_login %} open {% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" {% if invalid_login %}aria-expanded="true" {% endif %}>Sign Up</a>
          <div class="dropdown-menu" style="width: 400px; padding: 15px;">
            <form role="form" method="POST" action="{% url 'create_user' %}" id="signup-form">
              {% csrf_token %}
              <!-- {{ signup_form }} -->
              {{ signup_form.non_field_errors }}
              <div id="signup_email" class="form-group">
                {{ signup_form.email.errors }}
                <label for="{{ signup_form.email.id_for_label}}">Email:</label>
                {{ signup_form.email }}
              </div>
              <div id="signup_pwd" class="form-group">
                {{ signup_form.password.errors }}
                <label for="{{ signup_form.password.id_for_label }}">Password:</label>
                {{ signup_form.password }}
              </div>
              <div id="signup_firstname" class="form-group">
                {{ signup_form.first_name.errors }}
                <label for="{{ signup_form.first_name.id_for_label }}">First Name:</label>
                {{ signup_form.first_name }}
              </div>
              <div id="signup_lastname" class="form-group">
                {{ signup_form.last_name.errors }}
                <label for="{{ signup_form.last_name.id_for_label }}">Last Name:</label>
                {{ signup_form.last_name }}
              </div>
              <div id="signup_phone" class="form-group">
                {{ signup_form.phone.errors }}
                <label for="{{ signup_form.phone.id_for_label }}">Phone Number:</label>
                {{ signup_form.phone }}
              </div>
              <div id="signup_school" class="form-group">
                {{ signup_form.school.errors }}
                <label for="{{ signup_form.school.id_for_label }}">School:</label>
                {{ signup_form.school }}
              </div>
              <div style="text-align: center;">
                <button type="submit" id="signup-btn" class="btn btn-primary">Sign Up</button>
              </div>
            </form>
          </div>
        </li>
        <!--signup end -->
        {% endif %} {% endblock %}
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="jumbotron">
      {% block heading_content %}{% endblock %}
    </div>
    {% block content %}{% endblock %}
  </div>
  {% endblock %} {% block footer %}{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  {% block extrascript %} {% endblock %}
</body>

</html>
