{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Rideshare - Dashboard {% endblock %}
{% block extrastyle %}
      {% load staticfiles %}
      <link rel="stylesheet" type="text/css" href="{% static "frontend/css/style.css" %}">
{% endblock %}

{% block heading_content %}
  <h1>
    Welcome back, John Doe!
  </h1>
{% endblock %}

{% block content %}
  <h3 class="btn btn-lg btn-default">Create a New Ride</h3>
  <br> <br> <br>
  <div class="panel panel-default" style="text-align: left">
    <div class="panel-heading">Panel heading</div>
      {% if rides %}
        {% for ride in rides %}
          <div class="panel-item"> {{ ride }} </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}
