{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Rideshare - Dashboard {% endblock %}
{% block extrastyle %}
      {% load staticfiles %}
      <link rel="stylesheet" type="text/css" href="{% static "frontend/css/style.css" %}">
      <style type="text/css">
        .row {
          margin: 0px;
          padding: 0px;
        }
      </style>
{% endblock %}

{% block heading_content %}
  <h2>
    Welcome back, John Doe!
  </h2>
{% endblock %}

{% block content %}
  <div class="btn-group">
    <a href="{% url 'rides' %}" class="btn btn-default"> View My Rides </a>
    <a href="{% url 'create_ride' %}"class="btn btn-primary"> Create a New Ride </a>
  </div>
{% endblock %}
