{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Rideshare - Dashboard {% endblock %}
{% block extrastyle %}
      {% load staticfiles %}
      <link rel="stylesheet" type="text/css" href="{% static "frontend/css/style.css" %}">
{% endblock %}

{% block heading_content %}
  <h1>
    Welcome back, John Doe!
  </h1>
{% endblock %}

{% block content %}
  <h3 class="btn btn-lg btn-default">Create a New Ride</h3>
  <br> <br>
  <div class="panel panel-default" style="text-align: left">
    <div class="panel-heading">Panel heading</div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Driver</th>
          <th>Available Seats</th>
          <th>From</th>
          <th>To</th>
          <th>Departure Time</th>
          <th>Join</th>
        </tr>
      </thead>
      <tbody>
        {% for ride in rides %}
        <tr>

          <td>{{ride.driver}}</td>
          <td>{{ride.available_seats}}</td>
          <td>{{ride.from}}</td>
          <td>{{ride.to}}</td>
          <td>{{ride.departure_time}}</td>
          <td><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></td>

        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock %}
