{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Rideshare - Ride Detail {% endblock %}
{% block extrastyle %}
      {% load staticfiles %}
      <link rel="stylesheet" type="text/css" href="{% static "frontend/css/style.css" %}">
      <style type="text/css">
        th{ text-align: center;}
        td{ text-align: center;}
      </style>
{% endblock %}

{% block heading_content %}
  <h1>
    Welcome back, John Doe!
  </h1>
{% endblock %}

{% block content %}
  <form class="form-inline">
    <!-- <div class="row"> -->
      <!-- <div class="col-md-8"> -->
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for Rides" style="height: 46px; width: 600px;"/>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary btn-lg"> Search </button>
        </span>
      </div>
      <!-- </div> -->
      <!-- <div class="col-md-4"> -->
        <a href="{%url 'create_ride'%}"><h3 class="btn btn-primary" style="margin-top: 0px;">Create a New Ride</h3></a>
      <!-- </div> -->
    <!-- </div> -->
  </form>
  <br> <br>
  <div class="panel panel-default" style="text-align: left">
    <div class="panel-heading" style="text-align: center;">Ride Details</div>
    {% if details %}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Date & Time</th>
            <th> Driver</th>
            <th> Status </th>
            <th> Available Seats </th>
            <th> Edit </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{details.departure}}</td>
            <td>{{details.driver}}</td>
            <td> {{details.ride_status}}</td>
            <td>{{details.available_seats}}</td>
            <td><a href="http://google.com"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>

          </tr>

        </tbody>
      </table>
    {% else %}
      <div class="panel-body" style="text-align: center"> You currently have no rides as a driver </div>
    {% endif %}
  </div>
  <!-- <div class="jumbotron">
    {{ data }}
  </div> -->
{% endblock %}
