{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Rideshare - Rides {% endblock %}
{% block extrastyle %}
      {% load staticfiles %}
      <link rel="stylesheet" type="text/css" href="{% static "frontend/css/style.css" %}">
      <style type="text/css">
        th{ text-align: center;}
        td{ text-align: center;}
      </style>
{% endblock %}

{% block heading_content %}
  <h2>
    Welcome back, John Doe!
  </h2>
{% endblock %}

{% block content %}
  <div class="btn-group">
    <a href="{% url 'rides' %}" class="btn btn-default"> View My Rides </a>
    <a href="{% url 'create_ride' %}"class="btn btn-primary"> Create a New Ride </a>
  </div>
  <br> <br>
  <div class="panel panel-default" style="text-align: left">
    <div class="panel-heading" style="text-align: center;">I am a Driver For</div>
    {% if driver_rides %}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Date & Time</th>
            <th> Driver</th>
            <th> Status </th>
            <th> Available Seats </th>
            <th> Details </th>
          </tr>
        </thead>
        <tbody>
          {% for ride in driver_rides %}
          <tr>

            <td>{{ride.departure}}</td>
            <td>{{ride.driver}}</td>
            <!-- {% for dropoff in ride.dropoffs %}
              <td>{{dropoff}}</td>
            {% endfor %} -->
            <td> {{ride.status}}</td>
            <td>{{ride.available_seats}}</td>
            <td><a href="{% url 'ride_detail' ride.id %}"> <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></td>

          </tr>
          {% endfor %}

        </tbody>
      </table>
    {% else %}
      <div class="panel-body" style="text-align: center"> You currently have no rides as a driver </div>
    {% endif %}
  </div>
  <div class="panel panel-default" style="text-align: left">
    <div class="panel-heading" style="text-align: center;">I am a Passenger For</div>
    {% if passenger_rides %}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Date & Time</th>
            <th>Driver</th>
            <th># of Passengers</th>
            <th># of Dropoffs</th>
          </tr>
        </thead>
        <tbody>
        {% for ride in passenger_rides %}
          <tr>

            <td>{{ride.date}}</td>
            <td>{{ride.driver}}</td>
            <th>{{ride.passenger_number}}</th>
            <th>{{ride.dropoff_number}}</th>

          </tr>
        {% endfor %}

        </tbody>
      </table>
    {% else %}
      <div class="panel-body" style="text-align: center"> You currently have no rides as a passenger </div>
    {% endif %}
  </div>
  <!-- <div class="jumbotron">
    {{ data }}
  </div> -->
{% endblock %}
